.profile {
  display: flex;
  flex-direction: column;

  gap: 0.5rem;
  justify-content: center;
  background-color: #ffff;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  margin: auto;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.19), 0px 6px 6px rgba(0, 0, 0, 0.23);
}

.profile h2 {
  font-size: 24px;
  color: #333;
}

.profile p {
  font-size: 18px;
  color: #666;
}
